body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background: #a9a9a9;
}

.navbar li{
    float: left;
}

.btn {
  background-color: #a9a9a9; 
  color: white;             
  padding: 10px 20px;       
  border: none;              
  border-radius: 5px;        
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s; 
}

.btn:hover {
  background-color: #777777; 
}